@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 336px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.todo__yellow-block {
  background-color: #ffdc40;
  width: 336px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  height: 28px;
}

.todo__head-text {
  font-size: 26px;
  font-weight: 900;
}

.todo__sort {
  margin-left: 245px;
  margin-bottom: 8px;
  cursor: pointer;
}

.todo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__input {
  width: 240px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 27px;
  cursor: move;
}

.todo__button {
  background-color: #833ae0;
  border-radius: 71px;
  width: 150px;
  height: 42px;
  font-size: 14px;
  color: white;
  border: none;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
}

.todo__plusBtn {
  float: left;
  background: #9953f1;
  border-radius: 71px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.btn-text {
  margin-right: 30px;
}

.todo__view-list {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 286px;
  box-sizing: border-box;
  padding: 0px;
  margin-bottom: 0px;
}

.remove {
  border-radius: 71px;
  font-size: 20px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
}

.remove:hover {
  background-color: #833ae0;
  color: white;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__sortUp-img {
  display: none;
  opacity: 0.33;
}

.todo__sortUp-img:hover {
  opacity: 1;
}

.todo__sortDown-img {
  opacity: 0.33;
}

.todo__sortDown-img:hover {
  opacity: 1;
}
